/* MOBIEL */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #000000;


  }


  .mobile {
    width: 100%;
  }
  /* .menu{
    border: solid 5px rgb(0, 0, 0);
  } */


  /* .logo-navbar{

    border: solid 5px rgb(0, 0, 0);
  } */

  .menu-button {
    background-color: rgb(255, 255, 255);
    /* border: solid 5px rgb(255, 255, 255); */
    border-radius: 5px;
    /* color: rgb(0, 0, 0); */
    height: 50px;
    width: 50px;

    cursor: pointer;
  }

  .dropdown-menu {
    display: block;
    position: absolute;
    left: 30px;
    top: 90px;
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .dropdown-menu a {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
  }

  .logo {
    height: 60px;

  }
