/* MOBIEL */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #000000;
    border: solid 5px black;
  
  }
  
  
  .mobile {
    width: 100%;
  }
  .menu{
    border: solid 5px rgb(0, 0, 0);
  }
  
  
  .logo-navbar{
  
    border: solid 5px rgb(0, 0, 0);
  }
  
  .menu-button {
    background-color: rgb(255, 255, 255);
    border: solid 5px rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    height: 50px;
    width: 50px;
  
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: block;
    position: absolute;
    left: 30px;
    top: 90px;
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu a {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
  }
  
  .logo {
    height: 60px;
    
  }
  
  /* DESKTOP */
  .logoDesktop{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
  
  }
  
  
  .box-3 {
    background-color: #000000;
    height: 1000px;
  }
  .btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
  }
  .btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
  }
  
  .btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
  }
  
  .btn-three:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  
  .btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
  }
  
  .btn-three:hover::after {
    opacity: 1;
    transform: scale(1, 1);
  }
  
  
  