<body>
  <div class="contact-container">
    <h1>Contact Ons</h1>

    <div class="section-container">
      <h2>Onze Diensten</h2>
      <p>Jeff-Lee Kickboks School biedt professionele kickboks lessen voor zowel kinderen als volwassenen. Onze lessen worden gehouden op de volgende tijden en locaties:</p>
      <p>Locatie: Chrysantstraat, 4537 RL Terneuzen</p>
      <p>Les word gegeven in de gymzaal van basisschool de kameleon. in deze straat zou genoeg parkeer gelegenheid zijn.</p>
      <p>Maandag:  18:30-19:30 (Kids) & 19:45 - 20:45 (volwassenen)</p>
      <p>Woensdag:  18:30-19:30 (Kids) & 19:45 - 20:45 (volwassenen) </p>
      <p>Vrijdag:  19:00-20:00  (volwassenen)</p>
    </div>

    <div class="section-container">
      <h2>Neem contact met ons op</h2>
      <p>Wil je een proefles bijwonen of heb je andere vragen? Neem dan contact met ons op via:</p>
      <p>Telefoon: +31-625387523</p>
      <p>Wilt u een gratis proefles? Kom gerust langs op bovenstaande dagen! zorg dat u opp tijd bent. </p>
      <p>U kunt eventueel ook een les komen mee kijken. Zorg dan dat u bij aanvang even meld dat u komt kijken.</p>


    </div>

    <div class="section-container">
      <h2>Abonnementen</h2>
      <h3>We bieden 2 verschillende abonnementen aan:</h3>
      <h4>Kids:</h4>
      <p>Kids abonnement is 2x per week dit kost €22.50 p/maand voor 6 maanden.</p>
      <p> Na 6 maanden gaat dit automatisch over in een maadelijks opzegbaar abonnement van €27.50 </p>
<h4>Volwassenen:</h4>
      <p>Volwassen abonnement is 3x per week dit kost €32.50 p/maand voor 6 maanden.</p>
      <p> Na 6 maanden gaat dit automatisch over in een maadelijks opzegbaar abonnement van €37.50</p>
    </div>

    <div class="section-container">
      <h2>Volg ons</h2>
      <p>Volg ons op social media om op de hoogte te blijven van het laatste nieuws en evenementen.</p>
      <a href="https://www.instagram.com/jefflee_kickboxing/" target="_blank">Instagram</a>
      <a href="https://nl-nl.facebook.com/people/Jeffrey-Koster/100011454880272/" target="_blank">Facebook</a>
    </div>


  </div>





</body>
