<div class="container">
      <div class="login-container">
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              [(ngModel)]="loginData.email"
              #email="ngModel"
              required
              email
            />
            <div *ngIf="email.invalid && email.touched" class="error">
              Valid email is required.
            </div>
          </div>
      
          <div class="form-group">
            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              [(ngModel)]="loginData.password"
              #password="ngModel"
              required
              minlength="6"
            />
            <div *ngIf="password.invalid && password.touched" class="error">
              Password must be at least 6 characters.
            </div>
          </div>
      
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
        </form>

      </div>  
<!--       
      <input type="file" (change)="onFileSelected($event)" accept="image/*" />
      <button (click)="uploadFile()">Upload naar NestJS</button> -->
</div>