* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background: url("../../assets/logoZwart.jpg") center / cover no-repeat, black;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-size: 40%;
    display: flex;
  }

  .outerbox{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .trainer-container{
    background: rgba(0, 0, 0, 0.6); /* 60% opaque black background */
    border: 1px solid #00bfff; /* Border to make it stand out more */
    width: 60%;
    margin: 15px;
    padding: 15px;
   
  }

  .trainer-picture{
    height: 100px;
    width: 60px;
  }

  h2, p {
    color: #ffffff;
  }