<div class="container">
  <div class="outerbox">
    <div class="trainer-container">
      <h1>Meet the Team</h1>
    </div>
    <div class="trainer-container">
      <img
        class="trainer-picture"
        src="../../assets/Jeffrey.jpeg"
        alt="no picture"
      />
      <H2>Jeffrey</H2>
      <p>Hoofd trainer en eigenaar</p>
    </div>
    <div class="trainer-container">
      <img
        class="trainer-picture"
        src="../../assets/Albert.jpg"
        alt="no picture"
      />
      <H2>Albert</H2>
      <p>Trainer</p>
    </div>
    <div class="trainer-container">
      <img
        class="trainer-picture"
        src="../../assets/Gibran.png"
        alt="no picture"
      />
      <H2>Gibran</H2>
      <p>Trainer</p>
    </div>
    <div class="trainer-container">
      <img
        class="trainer-picture"
        src="../../assets/Guillermo.jpeg"
        alt="no picture"
      />
      <H2>Guijermo</H2>
      <p>Trainer</p>
    </div>
    <div class="trainer-container">
      <img
        class="trainer-picture"
        src="../../assets/yigit.png"
        alt="no picture"
      />
      <H2>Yigit</H2>
      <p>assistent trainer en vechter</p>
    </div>
    <div class="trainer-container">
      <img
        class="trainer-picture"
        src="../../assets/Amin.png"
        alt="no picture"
      />
      <H2>Amin</H2>
      <p>assistent trainer</p>
    </div>
    <div class="trainer-container">
      <img
        class="trainer-picture"
        src="../../assets/Reyhan.jpeg"
        alt="no picture"
      />
      <H2>Reyhan</H2>
      <p>meldpunt ongewenst gedrag</p>
    </div>
    <div class="trainer-container">
      <img
        class="trainer-picture"
        src="../../assets/jeremy.jpg"
        alt="no picture"
      />
      <H2>Jeremy</H2>
      <p>Leden administratie</p>
    </div>
  </div>
</div>
