<div class="container">
    <div class="section">
      <h1>Meet the Team</h1>
    </div>
    <div class="section">
      <img
        src="../../assets/Jeffrey.jpg"
        alt="no picture"
      />
      <H2>Jeffrey</H2>
      <p>Hoofd Trainer En Eigenaar</p>
    </div>

    <div class="section">
      <img
        src="../../assets/MarckPeter.jpg"
        alt="no picture"
      />
      <H2>Marck Peter</H2>
      <p>Trainer gevorderden </p>
    </div>

    <div class="section">
      <img
        src="../../assets/Albert2.jpg"
        alt="no picture"
      />
      <H2>Albert</H2>
      <p>Trainer</p>
    </div>

    <div class="section">
      <img
        src="../../assets/Kali.jpg"
        alt="no picture"
      />
      <H2>Kali</H2>
      <p>Trainer</p>
    </div>

    <div class="section">
      <img
        src="../../assets/jeremy2.jpg"
        alt="no picture"
      />
      <H2>Jeremy</H2>
      <p>Leden Administratie / Assistent Trainer</p>
    </div>
    <div class="section">
      <img
        src="../../assets/Sven.jpg"
        alt="no picture"
      />
      <H2>Sven</H2>
      <p>Assistent Trainer Kids</p>
    </div>
    <div class="section">
      <img
        src="../../assets/Tosca.jpg"
        alt="no picture"
      />
      <H2>Tosca</H2>
      <p>Meldpunt ongewenst gedrag
      </p>
    </div>
    <div class="section">
      <img
        src="../../assets/Barbara.jpg"
        alt="no picture"
      />
      <H2>Barbara</H2>
      <p>Wedstrijd planning</p>
    </div>
  </div>

