<div class="container">
    <div class="section">
      <h1>Meet the Team</h1>
    </div>
    <div class="section">
      <img
        src="../../assets/Jeffrey.jpeg"
        alt="no picture"
      />
      <H2>Jeffrey</H2>
      <p>Hoofd trainer en eigenaar</p>
    </div>
    <div class="section">
      <img
        src="../../assets/Albert.jpg"
        alt="no picture"
      />
      <H2>Albert</H2>
      <p>Trainer</p>
    </div>
    <div class="section">
      <img
        src="../../assets/Gibran.png"
        alt="no picture"
      />
      <H2>Mark Peter</H2>
      <p>Trainer</p>
    </div>
    <div class="section">
      <img
        src="../../assets/jeremy.jpg"
        alt="no picture"
      />
      <H2>Jeremy</H2>
      <p>Leden administratie/ Assistent trainer</p>
    </div>
    <div class="section">
      <img
        src="../../assets/Gibran.png"
        alt="no picture"
      />
      <H2>Gibran</H2>
      <p>Trainer</p>
    </div>
    <div class="section">
      <img
        src="../../assets/Gibran.png"
        alt="no picture"
      />
      <H2>Tosca</H2>
      <p>Meldpunt ongewenst gedrag</p>
    </div>
  </div>

