* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {

  position: relative;
  overflow-y: scroll;
  height: 100vh;
  background-image: url("../../assets/logoZwart.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.outerbox {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  z-index: 1;

  /* Voeg ruimte toe aan de bovenkant voor de navigatiebalk */
}



.sponsor-container {
  width: 60%;
  margin: 0 auto;
  color: white;
  padding-bottom: 20px;

}

.sponsor-section {
  background: rgba(0, 0, 0, 0.6); /* 60% opaque black background */
  border: 1px solid #00bfff; /* Border to make it stand out more */
  margin-bottom: 15px;
  padding: 1rem;
  padding-bottom: 15px;
}

.sponsor-container h1, .sponsor-section h2 {
  color: #00bfff;
  padding: 1rem;

}

.sponsor-section p {
  padding: 0.5rem;
}

a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #00bfff;
  color: white;
  text-decoration: none;
  margin: 0.5rem;
  transition: background-color 0.5s;
}

 a:hover {
  background-color: #000000;
}
