
<div class="container">
  <div class="section">
      <h1>Onze Sponsoren</h1>
    </div>
      <div class="section">
        <h2>Jumbo Zelzate</h2>
        <p>
          Jumbo heeft alles dat je kan verwachten in je supermarkt, maar dan nog
          veel meer.
        </p>
        <a href="https://www.facebook.com/jumbozelzate/" target="_blank"
          >Facebook</a
        >
      </div>

      <div class="section">
        <h2>WereldAdvies</h2>
        <p>Planoloog/ Ruimtelijke ordening</p>
        <a
          href="https://www.linkedin.com/in/markvangerwen1/?originalSubdomain=nl"
          target="_blank"
          >LinkedIn</a
        >
      </div>

      <div class="section">
        <h2>DJL Handel & Onderhoud</h2>
        <p>
          DJL Handel & Onderhoud, voor al uw dakbedekking bij de bouw of verbouw
          van een huis, carport, tuinhuis. EPDM of Bitumen geen probleem!
        </p>
        <a href="https://www.facebook.com/djlhandel/" target="_blank"
          >Facebook</a
        >
        <a href="https://www.djlkapelle.nl/" target="_blank">Website</a>
      </div>

      <div class="section">
        <h2>MVH-Group</h2>
        <p>VACATURES IN DE LOGISTIEK, PRODUCTIE, TECHNIEK EN SCHOONMAAK!</p>
        <a href="https://www.facebook.com/uitzendbureauMvH" target="_blank"
          >Facebook</a
        >
        <a href="https://www.mvh-group.com/" target="_blank">Website</a>
      </div>

      <div class="section">
        <h2>Wilt u ook sponsor worden?</h2>
        <p>Neem contact met ons op en vraag naar de mogelijkheden</p>
      </div>
    </div>
