.container {

  position: relative;
  overflow-y: scroll;
  height: 100vh;
  background-image: url("../../assets/logoZwart.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.outerbox {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  z-index: 1;
}

  h2 {
  color:#00bfff
 }
 p{
  color: white;
 }

.lessons-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;

}

.lesson-section {
  background: rgba(0, 0, 0, 0.6);
  width: 90%;
  border: 1px solid #00bfff;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

img {

    height: 200px;
    width: 250px;
    object-fit: cover;
}


.btn-register {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #00bfff;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 1rem;
}

.btn-register:hover {
  background-color: #000000;
}
