
<div class="container">
      <div class="section">
        <img src="./assets/KidsBox.png" alt="kidsKickboks"  />
        <h2>Kids Kickboxing</h2>
        <p>Maandag: 18:30 - 19:30</p>
        <p>Woensdag: 18:30 - 19:30</p>
        <a routerLink="/contact" class="btn-register">Aanmelden</a>
      </div>

      <div class="section">
        <img src="./assets/GroepnieuwGym.jpeg" alt="volwassen Kickboxing" />
        <h2>Volwassenen Kickboxing</h2>
        <p>Maandag: 19:45 - 20:45</p>
        <p>Woensdag: 19:45 - 20:45</p>
        <p>Vrijdag: 19:00 - 20:00</p>
        <a routerLink="/contact" class="btn-register">Aanmelden</a>
      </div>
    </div>

